{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">
  <h2 style="text-align:center; font-size: 24px; margin-top:10px; margin-bottom:5px"><strong>Trang đăng nhập</strong></h2>
{% if user.is_authenticated %}
<p class="errornote">
{% blocktranslate trimmed %}
    Bạn được xác thực là {{username}}, nhưng không được phép
     truy cập trang này. Bạn có muốn đăng nhập vào một tài khoản khác không?
{% endblocktranslate %}
</p>
{% endif %}

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    <h2>Tài khoản</h2> {{ form.username }}
  </div>
  <div class="form-row">
    {{ form.password.errors }}
    <h2>Mật khẩu</h2> {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}">
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% translate 'Quên mật khẩu hoặc tên người dùng của bạn?' %}</a>
  </div>
  {% endif %}
  <div class="submit-row">
    <input type="submit" value="{% translate 'Đăng nhập' %}">
  </div>
</form>

</div>
{% endblock %}
